/* ---------------------------------
 * Core Stylesheet
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * --------------------------------- */

/* ---------------------------------
 * Typography Styles
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * --------------------------------- */

/* =Base **************************************************************************************/
body { 
  font: 10px/1.5 Georgia, Times, Times New Roman, serif;
  text-rendering: optimizeLegibility;
}

/* =Content **************************************************************************************/
#content {
  font-size: 1.4em;
}
h1 {
  font-size: 2.5714em;
}
h2 {
  font-size: 1.7142em;
}
.documentation h2 {
  font-size: 1.2857em;
}
#content h1,
#content h2,
#content h3 {
  font-family: "Interstate Black", "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
  line-height: 1;
  margin-bottom: .25em;
}
#content h1 + p {
  font-size: 1.4em;
}
pre, code {
  font: 100.1% Monaco, "Courier New", monospace;
  font: 100.1% Monaco, "Courier New"; /* Dancing around browser bugs */
}
pre {
    white-space: pre-wrap;
}
li ul, li ol {
  margin-bottom: 0;
}
.footnotes {
  font-size: 80%;
}

/* =Footer */
#copyright,
#license {
  font-size: 1.2em;
}

/* =Form */
form li {
  margin: -5px -15px 7px;
  padding: 5px 15px 7px;
}
#errors {
  margin: 1em -15px 7px;
  padding: 1em;
}
#errors > * {
  margin-top: 0;
  margin-bottom: 0;
}
#errors li {
  list-style: disc;
  margin: 0 0 0 15px;
  padding: 0;
}
label {
  display: block;
  font-weight: bold;;
}
input {
  width: 300px;
}
label input {
  width: auto;
}
#the-terms h2 {
  display: run-in;
  font-size: inherit;
}
#the-terms h2:after {
  content: ': ';
}

/* =Breadcrumbs */
#crumbs {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  list-style: none;
  font-size: .9em;
}
#crumbs a {
  text-decoration: none;
}
#crumbs a:focus,
#crumbs a:hover {
  text-decoration: underline;
}
#crumbs em {
  font-style: normal;
}

/* =Extensions */
.extensions .author {
  margin: 0;
}
.extensions .version,
.extensions .demo {
  font-weight: bold;
  margin: 0;
}

/* =Documentation */
#content.documentation h2 {
  font-size: 1.3em;
}
#content.documentation h2 code {
  font-weight: normal;
}
.documentation .status {
  font-weight: bold;
  margin: 0;
}
.documentation .return {
  font-weight: bold;
}

/* FAQ */
dl[class^=faq] dt {
  font: bold 1.7142em/1 "Interstate Black", "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
  margin: 1em 0 .25em;
}
dl.faq-on dt {
  cursor: pointer;
}

/* =Feeds */
ol.hfeed {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.hentry {
  border-bottom: 5px dotted #363c3b;
  margin: 0 20px 1em;
  padding: 0 0 1em;
}
li.hentry:last-child {
  border: 0;
  margin: 0 20px;
  padding: 0;
}
.hentry .entry-title {
  margin: 0;
}
.hentry .published {
  font-size: .9em;
  font-style: italic;
  text-align: right;
}

@media screen {/* ---------------------------------
 * Screen Layout Styles
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * --------------------------------- */

/* =Reset defaults */
html, body, form, fieldset, legend, 
h1, h2, h3, h4, h5, h6, 
pre, blockquote, ul, ol, dl, dd { margin: 0; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
abbr, acronym { border: 0; }
fieldset { border: none; }
a img { border: none; }
form ol, form ul { margin: 0; list-style: none; }
p, pre, blockquote, dl { margin: 0 0 1em; padding: 0; }
ul, ol { margin: 0 0 1em 20px; padding: 0; }

body {
  position: relative;
}

/* HTML5 */
header, footer, nav, article, section { display: block; }

/* =Branding */
body > header {
  height: 240px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
#logo {
  background: #212726;
  border-bottom: 25px solid;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .19);
  color: #ebebeb;
  line-height: 200px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#logo img {
  display: inline;
  vertical-align: middle;
}

/* =Nav */
nav {
  position: relative;
}
ul#nav-main {
  list-style: none;
  text-align: center;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}
ul#nav-main li {
  background: #ebebeb;
  border-radius: 10px;
  display: inline;
  font-size: 1.8em;
  padding: 16px 20px 8px;
  margin: 0 5px;
}
ul#nav-main li.here {
  position: relative;
  z-index: 2;
}
ul#nav-main li a {
  color: #363c3b;
  text-decoration: none;
  text-transform: lowercase;
}

/* =Content Layout */
#content {
  min-height: 400px;
  margin: -15px auto 0;
  padding: 55px 20px 95px;
  width: 475px;
}
#content p:last-child {
  margin: 0;
}

a#download {
  background: url(../img/download-button.png) center center no-repeat;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .19);
  border-radius: 10px;
  display: block;
  width: 320px;
  height: 73px;
  margin: 1.5em auto;
  text-indent: -999em;
  text-decoration: none;
}

/* =Breadcrumbs */
#crumbs ol {
  margin: 0 0 1em;
  padding: 0;
}
#crumbs li {
  display: inline;
}
#crumbs li:before {
  content: ' / ';
}
#crumbs li:first-child:before {
  content: '';
}

/* =Extensions */
.extensions #content {
  width: 700px;
}
ul.extensions {
  margin: 0;
}
ul.extensions li {
  list-style: none;
  margin: 0 0 1em;
}
#extension article footer {
  margin: 0 -20px;
  padding: .5em 20px;
}
#extension article footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#extension article .license,
#extension article .homepage,
#extension article .download,
#extension article .md5 {
  border-right: 1px solid;
  display: inline;
  padding-right: .5em;
  margin-right: .25em;
}
#extension article .no-md5,
#extension article .md5 {
  border: 0;
}


/* =Documentation */
.documentation #content {
  width: 700px;
}
pre {
  margin: 1em;
}
pre:last-child {
  margin-bottom: 0;
}
.documentation section {
  margin-bottom: 1.5em;
}
.documentation section:target {
  margin: -.5em -20px 1em;
  padding: .5em 20px;
}

/* =Copyright */
body > footer {
  background: rgb( 42, 48, 46 );
  background: rgba( 25, 29, 28, .4 );
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#copyright,
#license {
  width: 475px;
  margin: 0 auto;
}
.documentation #copyright,
.documentation #license {
  width: 700px;
}


}

@media print {/* ---------------------------------
 * Print Layout Styles
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * --------------------------------- */

}

/* ---------------------------------
 * Color Styles
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * --------------------------------- */

body {
  background-color: rgb( 54, 60, 59 );
  color: rgb( 235, 235, 235 );
}
a:link,
a:visited,
code.js,
#nav-main a:hover,
dl.faq-on dt {
  color: rgb( 104, 193, 4 );
}
a:hover {
  color: rgb( 97, 163, 24 );
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 211, 238);
}
code.css, code.html {
  color: rgb( 238, 185, 0 );
}

/* =Content */
#content {
  background-color: rgb( 72, 77, 76 );
  background-color: rgba( 235, 235, 235, .1 );
}
#extension article footer,
.documentation section:target {
  background-color: rgb( 77, 82, 81 );
  background-color: rgba( 255, 255, 255, .1 );
}
.documentation .deprecated {
  opacity: .75;
}
.documentation .removed {
  opacity: .5;
}
.documentation .deprecated:target,
.documentation .removed:target {
  opacity: 1;
}
.documentation .deprecated .status {
  color: rgb( 238, 185, 0 );
}
.documentation .removed .status {
  color: rgb( 255, 127, 127 );
}

/* =Footer */
#copyright {
  color: rgb( 235, 235, 235 );
}

/* =Forms */
#errors, form li.error {
  background-color: rgb( 255, 191, 191 );
  color: rgb( 143, 0, 0 );
}
#errors a {
  color: rgb( 95, 6, 6 );
}